
.movie-card {
  background-color: #FFF5EE;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.movie-card .info {
  align-items: center;
}

.card-btn {
  background-color: #004c3f;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100px;
  color: #fff;
}